---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div slot="article" class="w-full flex justify-center dark:bg-gray-700 dark:text-white mt-5 mb-5">
		<div class=" w-full md:max-w-5xl md:flex items-center justify-center">
			<div class=" w-full flex justify-center md:hidden mt-16 mb-10">
				<img src="/cara.png" alt="Mi Foto" class=" rounded-full drop-shadow-lg">
			</div>
			<div class=" w-full flex items-center justify-center md:w-3/5 pl-5 pr-10">
				<div class=" flex-col w-full bg-gray-100 p-5 rounded-2xl dark:text-gray-700 dark:bg-slate-200">
					<div class=" flex items-center justify-center mb-5">
						<p>
							<span class="italic text-2xl text-blue-700">Formacion</span>
						</p>
					</div>
					<div class=" flex items-center justify-center">
						<ul>
                            <li class=" mb-3">Licenciatura en Informatica "Tecnologico de Cd. Guzman"</li>
                            <li>Maestria en Ciencias en Telematica "Universidad de Colima"</li>
                        </ul>
					</div>
                    <div class=" flex items-center justify-center mb-5 mt-10">
						<p>
							<span class="italic text-2xl text-blue-700">Experiencia docente en materias</span>
						</p>
					</div>
					<div class=" flex items-center justify-center">
						<ul>
                            <li>Matematicas Discretas</li>
                            <li>Estructuras de Datos</li>
                            <li>Prog. Orientada a Obj.</li>
                            <li>Fundamentos de BD</li>
                            <li>Taller de Bases de Datos</li>
                            <li>Admon. de Bases de Datos</li>
                            <li>Programacion Web</li>
                            <li>Desarrollo de Proy. de Soft.</li>
                        </ul>
					</div>
				</div>
			</div>

			<div class=" hidden md:flex w-2/5">
				<img src="/angel2.png" alt="Mi Foto" class="">
			</div>
		</div>
	</div>
</Layout>