---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<div  class="dark:bg-gray-700">
	<Header />
	<div class="w-full flex justify-center dark:bg-gray-700 dark:text-white mt-5 mb-5">
		<div class=" md:max-w-5xl md:flex items-center justify-center">
			<div class=" w-full flex justify-center md:hidden mt-16 mb-10">
				<img src="/cara.png" alt="Mi Foto" class=" rounded-full drop-shadow-lg">
			</div>
			<div class=" hidden md:flex justify-end w-1/3">
				<img src="/angel.png" alt="Mi Foto" class=" h-128">
			</div>
			<div class=" w-full flex items-center justify-center md:w-2/3 ">
				<div class=" flex-col w-2/3 bg-gray-50 p-5 rounded-2xl  dark:text-gray-700 dark:bg-slate-200">
					<div class=" flex items-center justify-center mb-5">
						<p>
							<span class="italic text-2xl text-blue-700">¡Hola!</span>
						</p>
					</div>
					<div class=" flex items-center justify-center">
						<p class=" text-justify leading-loose">
							<span class=" ml-10"> Soy</span> <span class=" font-bold"> Angel Torres</span>, y me enorgullece ser parte del equipo docente del <span class=" italic font-bold">Tecnológico de Tlajomulco</span> 
							desde el año 2000. Durante más de dos décadas, he tenido el privilegio de impartir materias relacionadas con bases de datos y programación en esta prestigiosa institución. 
							A lo largo de mi carrera, he tenido la oportunidad de compartir mi pasión por la tecnología y la informática con numerosos estudiantes, 
							brindándoles las herramientas y conocimientos necesarios para enfrentar los desafíos del mundo digital. 
							Mi compromiso con la educación y el constante aprendizaje me ha permitido mantenerme actualizado en un campo en constante evolución, 
							y espero seguir contribuyendo al crecimiento académico y profesional de los futuros ingenieros y profesionales de la tecnología en el Tecnológico de Tlajomulco.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<Footer />
	</div>
</Layout>