<div class="flex items-center justify-center bg-white text-black h-20  dark:bg-gray-700 dark:text-white">
    <div class=" w-52 flex justify-around">
        <a href="" target="_blank">
            <img src="linkedin.png" alt="" class=" h-8">
        </a>
        <a href="https://platzi.com/p/jangeltr/"  target="_blank">
            <img src="platzi.png" alt="" class=" h-8">
        </a>
        <a href="https://github.com/jangeltr"  target="_blank">
            <img src="github.png" alt="" class=" h-8">
        </a>
    </div>
</div>